}

    display: flex;
    flex-direction: column;
}

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    cursor: pointer;
}

/* Zone de texte */
    flex: 1;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 14px;
}